@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w {
  max-width: 1500px;
}

@media (max-width: 620px) {
  .text-lg {
    font-size: 1rem;
  }
  .text-3xl {
    font-size: 1.5rem;
  }
  .text-4xl {
    font-size: 1.8rem;
  }
}
